
     <style>

      ul {
          list-style-type: none;
        
      }
  
      ul a  {
          text-decoration: none;
          font-size: 0.7em;
          justify-content: left;
          color: black;
      }

      .col {
       
      }

      .title {
        font-size: 1.4em;
        font-weight: 500;
      }
      body {
        background-color: rgb(242, 242, 242);
      }
  </style>
  

<div class="container text-center">

  <p></p>

    <div class="container">
       <div class="row row-cols-4">
        <div class="col"> 
          <ul class="list-group">
            <li class="title"><a href="">About Us</a></li>
            <li><a href="">About Our Agency</a></li>
            <li><a href="">About Our Facilities</a></li>
            <li><a href="">Historical Information</a></li>
            <li><a href="">Statistics</a></li>
          </ul>
        </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">inmates</a></li>
              <li><a href="/imates">Find an Inmate</a></li>
              <li><a href="">First Step Act</a></li>
              <li><a href="">Communications</a></li>
              <li><a href="">Custody & Care</a></li>
              <li><a href="">Visiting</a></li>
              <li><a href="">Report a Concern</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">Careers</a></li>
              <li><a href="">Find an Inmate</a></li>
              <li><a href="">First Step Act</a></li>
              <li><a href="">Communications</a></li>
              <li><a href="">Custody & Care</a></li>
              <li><a href="">Visiting</a></li>
              <li><a href="">Report a Concern</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">Resources</a></li>
              <li><a href="">Policy & Forms</a></li>
              <li><a href="">Communications</a></li>
              <li><a href="">Press Releases</a></li>
              <li><a href="">Publications</a></li>
              <li><a href="">Visiting</a></li>
              <li><a href="">Research & Reports</a></li>
            </ul>
          </div>
    
        </div>
      </div>

      <hr>

</div>
