
     <style>

      ul {
          list-style-type: none;
        
      }
  
      ul a  {
          text-decoration: none;
          font-size: 0.7em;
          justify-content: left;
          color: black;
      }

      .col {
       
      }

      .title {
        font-size: 1.4em;
        font-weight: 500;
      }
      body {
        background-color: rgb(242, 242, 242);
      }
  </style>
  

<div class="container text-center">

  <p></p>

    <div class="container">
       <div class="row row-cols-4">
        <div class="col"> 
          <ul class="list-group">
            <li class="title"><a href="">About Us</a></li>
            <li><a href="">About Our Agency</a></li>
            <li><a href="">About Our Facilities</a></li>
            <li><a href="">Historical Information</a></li>
            <li><a href="">Statistics</a></li>
          </ul>
        </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">inmates</a></li>
              <li><a href="/imates">Find an Inmate</a></li>
              <li><a href="">First Step Act</a></li>
              <li><a href="">Communications</a></li>
              <li><a href="">Custody & Care</a></li>
              <li><a href="">Visiting</a></li>
              <li><a href="">Report a Concern</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">Careers</a></li>
              <li><a href="">Life at the BOP</a></li>
              <li><a href="">Explore Opportunities</a></li>
              <li><a href="">Current Openings</a></li>
              <li><a href="">Application Process</a></li>
              <li><a href="">Our Hiring Process</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="title"><a href="">Resources</a></li>
              <li><a href="">Policy & Forms</a></li>
              <li><a href="">Communications</a></li>
              <li><a href="">Press Releases</a></li>
              <li><a href="">Publications</a></li>
              <li><a href="">Visiting</a></li>
              <li><a href="">Research & Reports</a></li>
            </ul>
          </div>
    
        </div>
      </div>

      <hr>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>