<%- include ('partials/header.ejs') %>


    <style>

        p {
            font-size: 0.8em;
        }

    </style>

<div class="container containerColor shadow p-3 mb-5 bg-white rounded">

    <div class="container text-center">
       
        <div class="row">
            <div class="col">
                <img src="aboutus.jpg" class="img-fluid" alt="...">
            </div>
        </div> 

        <h1 class="display-4">About Us</h1>

        <p class="fw-light">Our agency was established in 1930 to provide more progressive and humane care for federal inmates, to professionalize the prison service, and to ensure consistent and centralized administration of federal prisons.</p>

    
        <div class="row">
        

            <div class="col">
                About Our Agency

                <hr>
                <p class="fw-light">The BOP is a leader in correctional excellence and consistently recognized for outstanding government stewardship. Find out why.</p>
                <ul class="list-group">
                    <li ><a href="">Agency Overview</a></li>
                    <li><a href="">Budget and Performance</a></li>
                    <li><a href="">Leadership</a></li>
                    <li><a href="">Mission, Vision, Values, & Ideologies</a></li>
                    <li><a href="">Organization</a></li>
                </ul>
            </div>

            <div class="col">
                About Our Facilities
                <hr>
                <p class="fw-light">The BOP has prisons of various security levels and specialized missions throughout the country. Learn more.</p>
                <ul class="list-group">
                    <li ><a href="">Facilities Overview</a></li>
                    <li><a href="">Facility Abbreviations</a></li>
                    <li><a href="">Federal Prisons</a></li>
                    <li><a href="">Offices</a></li>
                    <li><a href="">Training Centers</a></li>
                </ul>
            </div>

            <div class="col">
                Historical Information
                <hr>
                <p class="fw-light">For over 80 years, the BOP has earned many accomplishments and faced extraordinary challenges. This is our story.</p>
                <ul>
                    <li ><a href="">History Overview</a></li>
                    <li><a href="">Timeline</a></li>
                    <li><a href="">Fallen Heroes</a></li>
                    <li><a href="">Past Directors</a></li>
                    <li><a href="">Federal Executions</a></li>
                </ul>
            </div>
          </div>

    </div>

    </div>

<%- include ('partials/footer.ejs') %>