<%- include ('partials/header.ejs') %>

<div class="container shadow p-3 mb-5 bg-white rounded text-center">

    <h1 class="display-4 m-5">Contact Us</h1>

    <div  class="row"> 
        <div class="col">
            <p class="fw-light">  The Bureau of Prisons has several different areas that allow for requests, questions, and concerns. Using the select box, choose the area that best suits your needs.
            </p>
    
            </div>
        <div class="col">
          <h3 class="display-6">General Comments & Questions</h3>
            <p class="fw-light">
                Please Note: Inquiries related to a specific facility's operations or procedures should be directed to that facility. Prison facilities have several addresses and phone numbers determined by the nature of your business. That information is placed on each facility's web page which can be accessed from the "Locations" area of our website.
            </p>

            <p class="fw-light">
                For other comments or questions regarding information found (or not found) on the Bureau of Prisons' website, you can email us, call, or send written correspondence to the Central Office using the contact information below.
            </p>

            <div class=" p-3"style="border: 1px solid rgb(192, 188, 188); ">
                <table>
                <tr>
                    <th>
                        Adress:
                    </th>
                    <td>Federal Bureau of Prisons<br>
                        320 First St., NW<br>
                        Washington, DC 20534</td>
                </tr>
                <tr>
                    <th>
                        Phone:
                    </th>
                    <td>(202) 307-3198
                    </td>
                </tr>
                </table>
            </div>
            <br>
            <p class="fw-light">
                The Bureau processes emails in the same manner as written correspondence (it may take about 20-30 working days for a response), although depending on the nature of the request, action on the email may be taken prior to issuing a response.
            </p>

        </div>

</div>