<%- include ('partials/header.ejs') %>


<div class="container shadow p-3 mb-5 bg-white rounded text-center">

      
        <style>

          h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
          
        </style>

    
        <h1 class="display-5">Imate don't exist</h1>
          

         <form method="POST" action="/busca">

          <h1 class="display-5">Find imate</h1>

          <div class="input-group mb-3 col-sm-9" >
              <span class="input-group-text" id="inputGroup-sizing-default">Social Security Number</span>
              <input type="text" class="form-control" name="fin">
              <button type="submit" class="btn btn-secondary ml-2">Search</button>

          </div>

      </form>
      
        

        </div>



