<%- include ('partials/header.ejs') %>

<div class="container">

<div class="row d-flex justify-content-around"> <!-- Incio cards -->


<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <img src="section_1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">WE'RE HIRING</h5>
        <p class="card-text fw-light">Want to create change? Do it from the inside out. Work at the Federal Bureau of Prisons to make a real difference while building a rewarding career. For more information please call our BOP Career Connection Hotline 1-866-307-1045 or email the National Recruitment Team..</p>
        <a href="/work.html" class="btn btn-light"> Come work on the inside</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <img src="hn_755.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Women and Special Populations</h5>
          <p class="fw-light">(BOP) - The Bureau of Prisons (Bureau) has offered specific oversight of female offenders at the national level for more than 20 years. Of the nearly 160,000 federal offenders, women consistently account for approximately 7 percent of the federal inmate population. </p>
          <a href="#" class="btn btn-light"> Women and Special Populations</a>
        </div>
    </div>
  </div>
</div>

</div> <!-- Fim cards-->

</div>
