<%- include ('partials/header.ejs') %>

<style>

    ul {
        list-style-type: none;
      
    }

    ul a {
        text-decoration: none;
        font-size: 0.8em;
        justify-content: left;
    }
</style>

<div class="container" > <!-- Inicio container-->

    <div class="container text-center">
       
        <div class="row">
            <div class="col">
                <img src="section_anm1.jpg" class="img-fluid" alt="...">
            </div>
        </div> 

        <div class="row">
            <div class="col">
                <h1 class="display-4">Our Locations</h1>
                <p class="fw-light">We have many facilities located throughout the nation: 122 institutions, 6 regional offices, a headquarters, 2 staff training centers, and 22 residential reentry management offices.</p>
            </div>
        </div> 
    </div>

    <hr>

    <div class="container text-left">


        <div class="row">
            <div class="col">
    
            </div>
            <div class="col">
                Map Locations By Region
                <hr>
                <p class="fw-light">View the geographic boundaries of BOP regions and the facilities located within.</p>
                <ul  class="list-group">
                    <li ><a href="">Mid-Atlantic Region</a></li>
                    <li><a href="">North Central Region</a></li>
                    <li><a href="">Northeast Region</a></li>
                    <li><a href="">South Central Region</a></li>
                    <li><a href="">Southeast Region</a></li>
                </ul>
            </div>

            <div class="col">
                Map Specific Types of Facilities
                <hr>
                <ul>
                    <li ><a href="">Central Office Headquarters</a></li>
                    <li><a href="">Residential Reentry Management Field Offices</a></li>
                    <li><a href="">Facilities Housing Female Offenders</a></li>
                    <li><a href="">Grand Prairie Office Complex</a></li>
                    <li><a href="">Prisons Only</a></li>
                </ul>
            </div>
          </div>

    </div>


</div> <!--Fim container-->