<%- include ('partials/header.ejs') %>



<body>

    <div class="container shadow p-3 mb-5 bg-white rounded">
        
    <h1 class="display-5">Women and Special Populations</h1>
        <div class="ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mdTjvtrBbrU"></iframe>
        </div>

        <p class="fw-light p-3">
            (BOP) - The Bureau of Prisons (Bureau) has offered specific oversight of female offenders at the national level for more than 20 years. Of the nearly 160,000 federal offenders, women consistently account for approximately 7 percent of the federal inmate population. The Women and Special Populations Branch ensures the provision of evidence-based services to meet the needs of federally incarcerated women, and other vulnerable populations, by providing national guidance on classification, management, and intervention programs and practices. The branch also provides guidance on special populations, including transgender persons, individuals who are veterans, and individuals with disabilities incarcerated across the Bureau. Additionally, the Women and Special Populations Branch is involved in national policy development, ensuring new initiatives are gender-responsive and trauma-informed. Stakeholder engagement, including incarcerated persons feedback, is a priority and is utilized to identify and implement new program and training needs.
        </p>

    </div>

    <%- include ('partials/footer.ejs') %>


</body>
</html>

