<%- include ('partials/header.ejs') %>


  <div class="container shadow p-3 mb-5 bg-white rounded">
   
    <div class="ratio ratio-16x9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QFz0cUfEYVo"></iframe>
    </div>


    <div class="row container text-center">
        <div class="col">
            <h1 class="display-3">WORK ON THE INSIDE.</h1>
  
            <p class="fw-light">
          Want to create change? Do it from the inside out. Work at the Federal Bureau of Prisons. Here you'll make a real difference. As a Federal Bureau of Prisons Nurse, Correctional Officer, or Teacher, you will be a mentor and inspiration, too. You'll change the hearts, minds, and lives of inmates in our care. All while you build a rewarding career as part of our team. Join us here on the inside.
            </p>
          
        </div>
    </div>

    <div class="card-group">
        <div class="card">
          <img src="section_m_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Opportunities here</h5>
            <p class="card-text">Discover our wide range of positions, student programs, and different ways you can volunteer at the Federal Bureau of Prisons.</p>
            <p class="card-text"><a href="#"class="text-muted">View Opportunities </a></p>
          </div>
        </div>
        <div class="card">
          <img src="section_m_2.jpg"" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">New Openings
            </h5>
            <p class="card-text">Explore immediate job openings and careers in: Arizona, California, Colorado, Illinois, Kansas, Missouri, and Oregon..</p>
            <p class="card-text"><a href="#" class="text-muted">Explore Openings</a></p>
          </div>
        </div>
        <div class="card">
          <img src="section_m_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Prison Life</h5>
            <p class="card-text">Working here isn't exactly what you think. Federal prisons are clean, secure, and professionally run at every level. See why more than 37,000 people have joined our team.</p>
            <p class="card-text"><a href="#" class="text-muted">See what it's like</a></p>
          </div>
        </div>
      </div>



</div>

    <%- include ('partials/footer.ejs') %>