<%- include ('../partials/header.ejs') %>


<div class="container shadow p-3 mb-5 bg-white rounded text-center">
        <h1 class="display-5">Person doens't exist</h1>
        
          <%- include ('findPerson') %>

        </div>



